.menu{
position: absolute;
width: 1440px;
height: 27px;
left: 0px;
top: -1px;

background: #16388F;
}

.tab-menu{
    /*padding: 4px;*/
    
position: absolute;
width: 415px;
height: 41px;
left: 1002px;
top: -2px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 41px;
/* identical to box height */


color: #FFFFFF;

mix-blend-mode: luminosity;
}

.apre {
    position: absolute;
    width: 1440px;
    height: 211px;
    left: 0px;
    top: 30px;
    
    background: #16388F;
}

.prof{
    position: absolute;
    width: 202px;
    height: 186px;
    left: 181px;
    top: 43px;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.oi {
    position: absolute;
width: 564px;
height: 106px;
left: 438px;
top: 95px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;

color: #FFFFFF;
}

body{
    position: absolute;
    width: 1440px;
    height: 623px;
    left: 0px;
    top: 241px;
    
    background: linear-gradient(180deg, #16388F 17.19%, rgba(227, 231, 47, 0.9) 60.42%);     
}

.scratch{
    
position: absolute;
width: 333px;
height: 123px;
left: 549px;
top: 257px;


filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cat {
    position: absolute;
width: 221px;
height: 225px;
left: 18px;
top: 639px;


filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.itens {
   
   
position: absolute;
width: 827px;
height: 454px;
left: 306px;
top: 410px;

background: rgba(22, 56, 143, 0.64);
}

.lista{
   color:#16388F; 
position: absolute;
width: 1440px;
height: 130px;
left: 0px;
top: 894px;

background: linear-gradient(180deg, rgba(227, 231, 47, 0.9) 0%, #16388F 100%);
}

.game{
    position: absolute;
width: 180px;
height: 70px;
left: 322px;
top: 404px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 70px;
/* identical to box height */


color: #FFFFFF;
}

.avataraluno{
    width:  100px;    
}

footer{
    position: absolute;
    width: 1440px;
    height: 101px;
    left: 0px;
    top: 923px;
    
    background: linear-gradient(180deg, rgba(227, 231, 47, 0.9) 0%, #16388F 100%);
}
.des{
    position: absolute;
    width: 1388px;
    height: 41px;
    left: 33px;
    top: 873px;
    
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: luminosity;
}
