body{
width: 1440px;
height: 623px;
left: 0px;
top: 241px;

background: linear-gradient(180deg, #16388F 0%, rgba(227, 231, 47, 0.9) 60.42%);
}
.menu{
    top:absolute;
    color:#FFFFFF;
      
    display: inline-block;
    padding: 4px;
    margin: 0 16px;

    position: absolute;
    width: 1440px;
    height: 28px;
    left: 0px;
    top: -1px;
    
    background: #16388F;
}

.cabec {
   
    position: absolute;
width: 1440px;
height: 229px;
left: 0px;
top: 27px;

background: #16388F;
}
.cabec-imagem{
    position: absolute;
    width: 202px;
    
    left: 181px;
      
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cabec-apre {
    position: absolute;
width: 564px;
height: 106px;
left: 438px;
top: 95px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;

color: #FFFFFF;
}



.cabec-lista {
    width: 1400px;
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    position: absolute;
    
    height: 27px;
    left: 0px;
    top: 114px;
    background: #829243;

}

.desenvolvimento{
    position: absolute;
width: 339px;
height: 46px;
left: 18px;


font-family: 'M PLUS 2';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;

color: #F5F5F5;

border: 1px solid #FFFAFA;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.avataralunop{
    width: 200px;
}

.itens {
    
    position: absolute;
    width: 1440px;
    height: 762px;
    left: -6px;
    top: 147px; 
}

.estudante-todos{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30% 30% 30% 30% 30%;
}

.linha {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    background-color: #BEB883;
}

.scratch{
    
    position: absolute;
    width: 333px;
    height: 123px;
    left: 549px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .cat {
        position: absolute;
    width: 221px;
    height: 225px;
    left: 18px;
    top: 400px;
    
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    .itens {
       
       
    position: absolute;
    width: 827px;
    height: 440px;
    left: 306px;
    top: 180px;
    
    background: rgba(22, 56, 143, 0.64);
    }
    
    
    
    .game{
       
    width: 180px;
    height: 70px;
    
    
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .avataraluno{
        width:  100px;    
    }
    .lnq{
        width: 43px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .des{
        position: absolute;
        width: 1440px;
        height: 30px;
        left: 0px;
        top: 864px;
        background: #8B857B;
        
    
        
        font-family: 'Indie Flower';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        
        mix-blend-mode: luminosity;
    }
    
footer{
    padding: 4px;
    position: absolute;
    margin:auto;
    left: -1px;
    top:786px;
    width: 1433px;
    height: 27px;
    background: #8B857B;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    
    mix-blend-mode: luminosity;
}
.lista{
    color:#16388F; 
}
