.body{
    position: absolute;
    top:250px;
width: 1440px;
height: 623px;
left: 0px;
background: linear-gradient(180deg, #16388F 0%, rgba(227, 231, 47, 0.9) 60.42%);
}
.menu{
  
    position: absolute;
width: 1440px;
height: 28px;
left: 0px;
top: -1px;

background: #16388F;
}

.menu-lista {
    
    width: 113px;
    height: 19px;
    left: 1114px;
    top: 8px;
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 16px;
    position: absolute;
    
    height: 27px;
    left: 0px;
    
    background: #16388F;

}


.menu-lista-item{
    top:8px;
    color:#FFFFFF;
      
    display: inline-block;
    padding: 4px;
    margin: 0 16px;

  
    
}

.cabec {
   
    position: absolute;
width: 1440px;
height: 229px;
left: 0px;
top: 28px;

background: #16388F;
}
.cabec-imagem{
    position: absolute;
    width: 202px;
    
    left: 181px;
      
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cabec-apre {
    position: absolute;
width: 564px;
height: 106px;
left: 438px;
top: 71px;

font-family: 'Indie Flower';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 105px;

color: #FFFFFF;

}

.avataralunop{
    width: 150px;
}

.itens {
    
    position: absolute;
    width: 1440px;
    height: 762px;
    left: -6px;
    top: 147px; 
}

.estudante-todos{
    display: grid;
    text-align: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}
h3{
    
    font-family: 'Lucida Sans';
    font-size: small; 
    color: #fdfdfd;
    text-align: center;
    font-size: 12px;
       
}

.linha {
    font-family: 'Lucida Sans';
    font-size: small; 
    font-size: 12px;
    background-color: #BEB883;
}

.scratch{
    
    position: absolute;
    width: 333px;
    height: 123px;
    left: 549px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    

    }
    
    .cat {
        position: absolute;
    width: 221px;
    height: 225px;
    left: 18px;
    top: 400px;
    
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    .itens {
       
       
    position: absolute;
    width: 827px;
    height: 545px;
    left: 306px;
    top: 319px;
    
    background: rgba(22, 56, 143, 0.64);


    }
    
    
    
    .game{
       
    width: 180px;
    height: 70px;
    
    
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .avataraluno{
        width:  100px;    
    }
    .lnq{
        width: 22px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .des{
        position: absolute;
        width: 1440px;
        height: 30px;
        left: 0px;
        top: 864px;
        background: #8B857B;
        
    
        
        font-family: 'Indie Flower';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        
        mix-blend-mode: luminosity;
    }
    
footer{
    padding: 4px;
    position: absolute;
    margin:auto;
    left: -1px;
    top:862px;
    width: 1433px;
    height: 27px;
    background: #8B857B;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    
    mix-blend-mode: luminosity;
}
.lista{
    width:1440px;
    top:885px;
    position: absolute;
    padding: 4px;
    color:#16388F; 
    background: linear-gradient(180deg, rgba(227, 231, 47, 0.9) 0%, #16388F 100%);
}
